.signin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100vh;
}

.signin-wrapper {
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
}

.signin > * {
  margin: 10px 0;
}

.signin-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.signin-form input {
  display: inline-block;  
}

.signin-form > * {
  margin: 10px 0;  
}

.input { 
  min-width: 400px;
}